# Robot Framework Core
robotframework==7.0.1

# Browser / Playwright Support
robotframework-browser==18.6.0
playwright==1.48.0

# Für Secrets
python-dotenv==1.0.1

# Für JSON/YAML Testdaten
PyYAML==6.0.2
jsonschema==4.23.0

# Für Linting / Formatting (optional, aber Best Practice)
#robocop==5.4.0
#robotidy==4.12.0
